body {
  background-color: #ffdee4;
  text-align: center;
}

input {
  margin: 10px;
  width: 60%;
  height: 15px;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  border-left: 6px solid #f25773;
  background-color: #ebe8e9;
  /* width: 50%; */
  margin: 30px;
  line-height: 1.8;
  padding: 50px;
}

h1 {
  margin: 20px;
  color: #ff3881;
  text-shadow: 3px 2px #bab8b9;
}

.box {
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 50px;
}
