<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Uyen's Mad Libs</title>
    <!-- For application not picking up .css file, I read https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style/madlibs.css') }}">
  </head>
  <body>
    <h1>Mad Libs</h1>
    <form action=""http://localhost:5000/"" method="POST">
      <input type="text" name="adj1" placeholder="adjective" required><br>
      <input type="text" name="nationality" placeholder="nationality" required><br>
      <input type="text" name="person" placeholder="person" required><br>
      <input type="text" name="adverb" placeholder="adverb" required><br>
      <input type="text" name="noun1" placeholder="noun" required><br>
      <input type="text" name="adj2" placeholder="adjective" required><br>
      <input type="text" name="noun2" placeholder="noun" required><br>
      <input type="text" name="adj3" placeholder="adjective" required><br>
      <input type="text" name="adj4" placeholder="adjective" required><br>
      <input type="text" name="plural_noun" placeholder="plural noun" required><br>
      <input type="text" name="noun3" placeholder="noun" required><br>
      <input type="text" name="number1" placeholder="number" required><br>
      <input type="text" name="shapes" placeholder="shapes" required><br>
      <input type="text" name="food1" placeholder="food" required><br>
      <input type="text" name="food2" placeholder="food" required><br>
      <input type="text" name="verb" placeholder="verb" required><br>
      <input type="text" name="number2" placeholder="number" required><br>
      <button type="submit" name="submit">Generate Story</button>
    </form>
  </body>
</html>
