body {
  background-color: #ffdee4;
  text-align: center;
}

input {
  margin: 10px;
  width: 60%;
  height: 15px;
}

p {
  border-style: dotted dashed solid double;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  border: 5px;
}
