<!-- I borrowed the story from https://www.google.com/search?q=mad+libs+story+funny&sa=X&biw=1440&bih=821&tbm=isch&source=iu&ictx=1&fir=uKoFmXxpPgD-WM%253A%252CVPsOyCfkHLdgYM%252C_&vet=1&usg=AI4_-kT5zEHX3rWL3Mps_-j5Av3bEBeZZw&ved=2ahUKEwinls7io6zkAhXFs54KHWEkBrYQ9QEwA3oECAQQDw#imgrc=Ef-SAFmZd3isHM:&vet=1 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="madlibs.css">
    <title>Pizza</title>
  </head>
  <body>
    <h1 class="pizza">Pizza Time</h1>
    <div class="box">
      <p>Pizza was invented by a ☺{{adj1}} ☺{{nationality}} chef named ☺{{person}}.
        To make a pizza ☺{{adverb}}, you need to take a lump of ☺{{noun1}}, and make a thin, round ☺{{adj2}} ☺{{noun2}}.
        Then you cover it with ☺{{adj3}} sauce, ☺{{adj4}} cheese, and fresh chopped ☺{{plural_noun}}.
        Next you have to bake it in a very hot ☺{{noun3}}.
        When it is done, but it into ☺{{number1}} ☺{{shapes}}.
        Some kids like ☺{{food1}} pizza the best, but my favorite is the ☺{{food2}} pizza.
        If I could, I would ☺{{verb}} pizza ☺{{number2}} times a day!
      </p>
    </div>
  </body>
</html>
