<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Pizza was invented by a {{adj1}} {{nationality}} chef named {{person}}.
      To make a pizza, you need to take a lump of {{noun1}}, and make a thin, round {{adj2}} {{noun2}}.
      Then you cover it with {{adj3}} sauce, {{adj4}} cheese, and fresh chopped {{plural noun}}.
      Next you have to bake it in a very hot {{noun3}}.
      When it is done, but it into {{number1}} {{shapes}}.
      Some kids like {{food1}} pizza the best, but my favorite is the {{food2}} pizza.
      If I could, I would {{verb}} pizza {{number2}} times a day!
    </p>
  </body>
</html>
